<!DOCTYPE html>

<html>
    <body>
        <div id="loginView" data-role="view" data-before-show="login.beforeShow">
            <div data-role="header">
                <div data-role="navbar">
                    <span>用户登录</span>
                </div>
            </div>
            <ul data-role="listview" data-style="inset">
                <li>
                    <label for="userNameText">
                        用户名:
                        <input type="text" id="userNameText" value="18661161511" />
                    </label>
                </li>
                <li>
                    <label for="password">
                        密码:
                        <input type="password" id="password" value="111111" />
                    </label>
                </li>
            </ul>
            <a data-click="login.loginButton_click" id="loginButton" type="button" data-role="button" style="display: block; margin: 2em; text-align: center;">登录</a>
        </div>
    </body>
</html>