<!DOCTYPE html>

<html>
    <body>
        <div data-role="view" id="opinion" data-layout="main" data-init="opinion.init" data-show="opinion.show">
            <div data-role="header">
                <div data-role="navbar" id="opinion_navbar">
                    <a data-role="backbutton" data-align="left">后退</a>
                    <span data-role="view-title"></span>
                    <a data-role="button" data-align="right" data-click="opinion.refreshButton_click">刷新</a>
                </div>
            </div>
            <div data-role="content" style="background-color: #E5E5E5;">
                <div id="opinion_text" style="margin: 8px;"></div>
            </div>
        </div>
    </body>
</html>